.dash-h2{
    font-size: 30px;
    padding-top: 20px;
    color: rgb(19, 97, 23);
}

.reflection-box{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.336);
        font-weight: bold;
        color: rgba(90, 238, 70, 0.747);
        text-shadow: 1px 1px black;
        height: 100%;
}

@media all and (min-width: 700px){
    .dash-h2{
        font-size: 40px;
    }
    .reflection-box{
        display: flex; 
        flex-direction: column;
        width: 50%;
        align-self: center;
        margin-right: 500px;
        margin-left: auto;
    }
    .reflection-list{
        margin-top: 0;
        flex-direction: column;
    }
}