.about-form{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.336);
    font-weight: bold;
    color: teal;
    text-shadow: 1px 1px black;
}

.about-form h1{
    color: rgba(90, 238, 70, 0.747);
}

@media all and (min-width: 700px){
    .about-form{
        float: right;
        margin-top: 200px;
        margin-right: 90px;
        width: 670px;
        height: 700px;
        font-size: 25px;
        margin-bottom: 60px;
    }
    .about-form h1{
        color: rgba(90, 238, 70, 0.747);
        font-size: 50px;
    }
    
}

@media all and (min-width: 600px){
    .about-form{
        float: right;
        margin-top: 50px;
        margin-right: 300px;
        width: 670px;
        height: 700px;
        font-size: 25px;
        
    }
}