.reflection{
    width: 350px;
    border-radius: 10px;
    border-style: 2px solid white;
    background-color: rgba(255, 255, 255, 0.536);
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px white;
    height: 100%;
    margin-left: 60px;
    font-size: 20px;
}
li{ 
    list-style-type: none;
}

.feeling{
    margin-top: 5px;
}

.reflection h2{
    padding-top:10px;
    font-size: 35px;
    color: rgba(90, 238, 70, 0.747);
}

@media all and (min-width: 700px){
    .reflection{
        display: flex;
        flex-direction: column;
        width: 55%;
        margin-left: 420px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .reflection img{
        width: 70%;
        height: 50%;
        margin-left: 150px;
    }
    .reflection h2{
        font-size: 50px;
    }
    .reflection p {
        font-size: 27px;
        text-shadow: 1px 1px rgb(245, 238, 238);
    }
    .reflection h3{
        font-size: 35px;
        color: teal;
        text-shadow: 1px 2px black;
    }
    .reflection h4{
        font-size: 30px;
        color: teal;
        text-shadow: 1px 2px black;
    }
    .content{
        text-indent: 50px;
        letter-spacing: 3px;
        white-space: pre-line;
        white-space: pre-wrap;
    }
    
}