
.nav-img{
    width: 50%;
    height: 50%;
    border-radius: 100px;
}
.nav-img:after{
    content: '';
    opacity: 0.3;
    position: fixed;
    top: 0;
}
ul{
    list-style-type: none;
}
.link{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 25px;
}
nav{
    margin-right: 35px;
}

@media all and (min-width: 700px){
    .nav-img{
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 50px;
        margin-top: 10px;
    }
    ul{
        float: right;
        display: flex;
        justify-content: 'space-between';
        margin-top: 50px;
        margin-right: 50px;
        margin-bottom: 100px;
        position: relative;
    }
    .link{
        margin-left: 30px;
        font-size: 35px;
    }
    
}