.pic{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
label{
    font-size: 20px;
}
.input{
    width: 50%;
    height: 20px;
}
.input-large{
    width: 75%;
    height: 300px;

}

.add-form{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.336);
        font-weight: bold;
        color: teal;
        text-shadow: 1px 1px black;
}

@media all and (min-width: 700px){
    .add-form{
        float: right;
        margin-top: 250px;
        margin-right: -180px;
        width: 670px;
        height: 100%;
        font-size: 25px;
        margin-bottom: 100px;
    }
    label{
        font-size: 30px;
    }
}